<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HappyChips.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HappyChips.Properties.Settings>
            <setting name="ReaderAddress" serializeAs="String">
                <value>FX960077E70B</value>
            </setting>
            <setting name="LynxAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LynxPort" serializeAs="String">
                <value>5086</value>
            </setting>
            <setting name="ChipMask" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTransmitPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitPower" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
        </HappyChips.Properties.Settings>
    </userSettings>
</configuration>